* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 150vh;
}
.uvod {
  display: flex;
  flex-direction: column;
}

.formatboxu {
  background-color: #283e50;
  margin: 0 auto;
  width: 340px;
}
h1,
.nazevhry {
  font-family: 'Lobster', cursive;
  font-size: 60px;
  text-align: center;
  color: #ffffff;
  padding-top: 20px;
}

.ucelhry {
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin-left: 10px;
  margin-right: 10px;
}
.obrazek {
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.ctyrlistek {
  width: 340px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
  padding: 0px 0px;
  display: block;
}
.button {
  border: none;
  padding: 0px 0px;
  text-align: center;
  display: block;
  text-decoration: none;
}
.button_pravidla,
.button_hrat {
  border: none;
  color: #ffffff;
  padding: 20px 80px;
  font-size: 16px;
  width: 340px;
  max-width: 100%;
  cursor: pointer;
}
.button_pravidla {
  background-color: #1fcca4;
}
.button_pravidla:hover {
  background-color: #1cbb96;
}
.button_hrat {
  background-color: #0197f6;
}
.button_hrat:hover {
  background-color: #0090e9;
}

/*druha cast ukolu*/
.pravidlaHry {
  background-color: #283e50;
  width: 340px;
  margin: 80px auto;
  border-top-left-radius: 1%;
  border-top-right-radius: 1%;
}
li {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1.2;
  padding: 5px 25px;
  margin-left: 25px;
}

.krouzek,
.krizek {
  width: 1em;
  height: 1em;
  filter: invert(95%);
  margin-top: 12px;
  margin-left: 6px;
}
.obrazkyHraciPole {
  max-width: 500px;
  width: 100%;
}
.uzkyPruh {
  display: flex;
  flex-flow: column;
  padding: 15px;
  max-width: 300px;
  margin: auto;
}
.textPodHracimPolem {
  background-color: #283e50;
  color: #ffffff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

img {
  width: 100%;
}
@media (min-width: 500px) {
  .kontejnerObrazky {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .vlozeneObrazky {
    width: 50%;
  }
  .pravidlaHry {
    background-color: #283e50;
    width: 600px;
    margin: 80px auto;
  }
  .button_pravidla,
  .button_hrat {
    border: none;
    color: #ffffff;
    padding: 20px 80px;
    font-size: 16px;
    width: 600px;
    cursor: pointer;
  }
}
@media (min-width: 800px) {
  .vlozeneObrazky {
    width: 50%;
  }
  .pravidlaHry {
    background-color: #283e50;
    width: 700px;
    margin: 80px auto;
  }
  .button_pravidla,
  .button_hrat {
    border: none;
    color: #ffffff;
    padding: 20px 80px;
    font-size: 16px;
    width: 700px;
    cursor: pointer;
  }
}
/*treti cast ukolu*/
.kontejner {
  max-width: 80vmin;
  display: block;
  margin: auto;
}
.odstavec {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  line-height: 1;
  font-size: x-large;
}
.domek,
.restart {
  width: 33px;
  height: 36px;
  border-radius: 7%;
  margin: 5px;
  padding: 5px;
}
.hrajeAikony {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-height: 80%;
}
.tlacitkaHerniPole {
  display: flex;
  flex-wrap: wrap;
}
.radek {
  width: 80vmin;
  height: 8vmin;
  display: flex;
}

.ctverecek {
  width: calc(100% / 5);
  border-width: 1.8px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.26);
  cursor: pointer;
}
.ctverecek:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.tlacitkaHerniPole {
  display: flex;
  flex-wrap: wrap;
}

.domek {
  max-width: 100%;
  background-color: #1fcca4;
}
.domek:hover {
  background-color: #1cbb96;
}
.restart {
  max-width: 100%;
  background-color: #0197f6;
}
.restart:hover {
  background-color: #0090e9;
}
.homeARestart {
  display: flex;
}

.policko-kolecko {
  background-image: url(Obrazky/krouzek.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
.policko-krizek {
  background-image: url(Obrazky/krizek.svg);
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
}
